{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}About us{% endblock %}

{% block content %}
<div class="aboutus-page-container">
    <div class="aboutus-page-wrapper">
        <div class="aboutus-page-aboutus">

            <br>
            <br>
            <br>
            <br>
            <h2 style="text-align:center;"><u>เว็บแอปพลิเคชั่นนี้จัดทำขึ้นเพื่อประกอบโครงงานวิชา Data structure and algorithm</u></h1>
            <div class="box-elementabout" >
            <h2 style="text-align:center;">จัดทำโดย</h2>
            <h3 style="text-align:center;">63010124 นายจักรภัทรณ์ ชื่นถาวร</h3>
            <h3 style="text-align:center;">63010151 นายจิรายุส เสนาโนฤทธิ์</h3>
            <h3 style="text-align:center;">63010224 นายชาญวนิษฐ์ นุชอยู่</h3>
            <h3 style="text-align:center;">63010202 นางสาวชรินดา สนธิดี</h3>
            <div>


        </div>
    </div>
</div>

{% endblock %}