{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}หน้าตระกร้าสินค้ามหาศาลของmonokai: {% endblock %}
{% block content %}
<div class="row" style="margin-top: 3rem;">
	    <div class="col-lg-8 offset-lg-2">
		    <div class="box-element" style="border-radius: 15px;">
                <div class="box-element" style="border-radius: 15px;">
                    <a  class="btn btn-outline-dark" href="{% url 'myapp:store' %}">&#x2190; Continue Shopping</a>
                    <br>
                    <br>
                    <table class="table" style="border-radius: 15px;">
                        <tr>
                            <th><h5>Items: <strong>{{ total_item }}</strong></h5></th>
                            <th><h5>Total:<strong>{{ total_price }}</strong></h5></th>
                            <th>
                                <a  style="float:right; margin:5px;" class="btn btn-success" href="">Checkout</a>
                            </th>
                        </tr>
                    </table>
                </div>
		    </div>

		    <br>
		    <div class="box-element">
                <div class="cart-row">
                    <div style="flex:2"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                    <div style="flex:1"><strong>Quantity</strong></div>
                    <div style="flex:1"><strong>Total</strong></div>
                    <div style="flex:1"><strong>Action</strong></div>
                </div>
                
                {% for c in cart_items %}
                <div class="cart-row">
                    <div style="flex:2"><a href="{% url 'myapp:detail' slug=c.slug %}"><img class="row-image" src="{{ c.image }}"></a></div>
                    <div style="flex:2"><p>{{ c.name }}</p></div>
                    <div style="flex:1"><p>{{ c.price }}</p></div>
                    <div style="flex:1">
                        <p class="quantity">{{ c.qty }}</p>
                        <div class="quantity">
                            <a href="{% url 'myapp:inc_qty' slug=c.slug %}"><img class="chg-quantity" src="{% static  'arrow-up.png' %}"></a>
                    
                            <a href="{% url 'myapp:dec_qty' slug=c.slug %}"><img class="chg-quantity" src="{% static  'arrow-down.png' %}"></a>
                        </div>
                    </div>
                    <div style="flex:1"><p>{{ c.total }}</p></div>
                    <div style="flex:1"><p><a href="{% url 'myapp:cart_delete' slug=c.slug %}">Remove</a></p></div>
                </div>
                {% endfor %}
    </div>
{% endblock %}