{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}สินค้าทั้งหมด{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center m-3">
        <h1>สินค้าทั้งหมด</h1>
    </div>
    <hr style="height:5px;border:none;color:#333;background-color:#333;" />
    <div class='row'>

        <div class='col-lg-2'>
          <!-- Drop down -->
          <div class="dropdown mb-1">
            <button class="btn btn-dark dropdown-toggle" type="button"
                id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{sortname}}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark"
                aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="{% url 'myapp:sort' sortid=1%}">วันที่:ใหม่-เก่า</a></li>
                <li><a class="dropdown-item" href="{% url 'myapp:sort' sortid=2%}">วันที่:เก่า-ใหม่</a></li>
                <li><a class="dropdown-item" href="{% url 'myapp:sort' sortid=3%}">ราคา:น้อย - มาก</a></li>
                <li><a class="dropdown-item" href="{% url 'myapp:sort' sortid=4%}#">ราคา:มาก - น้อย</a></li>
            </ul>
        </div>
        </div>
        <div class='col-lg-10'>
            <form class="d-flex" method="POST" action="{% url 'myapp:search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-2">
    
            <!-- แถบหมวดหมู่ข้างๆ -->
            <div class="list-group">
              <a href="{% url 'myapp:category' categoryid=0 %}" class="list-group-item list-group-item-action {% if not category_id %}active{% endif %}" aria-current="true">
                ทั้งหมด
              </a>
              {% for c in categories %}
              <a href="{% url 'myapp:category' categoryid=c.id %}" class="list-group-item list-group-item-action {% if category_id|add:'0' == c.id %}active{% endif %}">{{c.name}}</a>
              {% endfor %}
            </div>
        </div>
      
        <div class="col-lg-10 mt-2">
            <div class="row">
                {% for p in products %}
            <div class='col-lg-3 mt-1 mb-3'>
              <a href="{% url 'myapp:detail' slug=p.slug %}"><img class='thumbnail' src="{{p.image.url}}"></a>
              <div class='box-element product'>
                <a href="{% url 'myapp:detail' slug=p.slug %}" style="text-decoration: none;"><h6><strong>{{p.name}}</strong></h6></a>
                <hr>
                <a class='btn btn-outline-secondary add-btn' href="{% url 'myapp:cart_add' slug=p.slug%}">Add to Cart</a>
                <a class="btn btn-outline-success" href="{% url 'myapp:detail' slug=p.slug %}">View Detail</a>
                <h4 style="display: inline-block'; float:right"><strong>฿{{p.price}}</strong></h4>
              </div>
            </div>
            {% endfor %}
            </div>

            <!-- แบ่งหน้า -->
            <ul class="pagination justify-content-center">
                <!--
                {% if products.has_previous %}
                <li class="page-item disabled">
                  <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                -->
                {% for i in products.paginator.page_range %}
                <li class="page-item {% if products.number == i %}active{% endif %}"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
                {% endfor %}
                <!--
                {% if products.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                </li>
                {% endif %}
                -->
              </ul>

        </div>
        </div>
    </div>

</div>

{% endblock %}