@import 'https://fonts.googleapis.com/css?family=Kanit|Prompt';
*{	
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Prompt', sans-serif;
}
body{
	background-color: hsl(0, 0%, 98%);
	font-family: 'Prompt', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
	font-family: 'Prompt', sans-serif;
	
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.box-elementlogo{
	box-shadow:hsl(0, 0%, 100%) 0 0 16px;
	background-color: rgb(248, 245, 245);
	border-radius: 1000px;
	padding: 15px;
	
}

.box-elementview{
	box-shadow:hsl(0, 0%, 0%) 0 0 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	max-width: 1000px;
	padding: 10px;
	position: absolute;
	top:100px;
	left:100px;
}

.box-elementshop{
	box-shadow:hsl(0, 0%, 100%) 0 0 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	top:490px;
	left:1100px;
}

.box-elementsize{
	box-shadow:hsl(0, 0%, 100%) 0 0 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	padding: 10px;
	position: absolute;
	top:435px;
	left:1050px;
}

.thumbnail{
	width: 100%;
	height: 300px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 25px 25px;
}

.bg-dark{
	background-color: #000000 !important;
}
.bg-purple{
	background-color: rgba(141, 146, 255, 0.42) !important;
}


#cart-icon{
	width:25px;
	height:25px;
	display: inline-block;
	margin: 10px 5px 10px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.carousel-item{
	height : 500px;
	
}


.dropdown-item:active{
	background-color: rgb(233, 10, 10);
}
.Logo{
	max-width: 1000px;
	width: 70x;
	height: 63px;
    position: absolute;
	top:-4%;
	left:48%;
}
.tview{
	max-width: 800px;
	width: 365px;
	height: 500px;

}
.t1{
	max-width: 400px;
	width: 220px;
	height: 250px;

}
.t2{
	position: absolute;
	top:167px;
	left:1020px;
}

.t3{
	position: absolute;
	top:250px;
	left:960px;
}
.t4{
	position: absolute;
	top:335px;
	left:970px;
}

.empty{
	max-width: 7px;
	width: 7px;
	height: 7px;

}

.slider_text{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-image: var(--bs-gradient);
}

.head_text{
	font-family: 'Prompt', sans-serif;
    font-size: 40px;
    font-weight: bold;
	margin:auto; 
	text-align: center;
	text-decoration: underline;
}

#more{
	font-size: 2em;
	text-align: center;
	margin:auto; 
	font-weight: bold;
}

.nav-link-action{
	background-color: rgb(247, 0, 0);
}
.navbar-brand{
	color: rgb(0, 0, 0);
}
.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
  }
.bk{
	background-color: #FFFEE6;
	padding:160px 40px
  }
  .navbar-dark .navbar-nav .nav-link {
	color: rgb(0, 0, 0);
}
.box-elementview{
	box-shadow:hsl(0, 0%, 100%) 0 0 16px;
	background: rgba(141, 146, 255, 0.42);
	border-radius: 35px;
	width: 500px;
	height: 500px;
	padding: 10px;
	position: absolute;
	top:100px;
	left:535px;
}

.loginbk{
	background-color: #000000;
	background-image: url('https://i.pinimg.com/originals/c5/2b/8a/c52b8af68ed3854f1d32164f6dc36dfe.gif');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 500px;
}