{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}Magoru Store{% endblock %}
{% block content %}
<div class="container mt-2">

  <!-- สไลด์ภาพเลื่อนๆ -->
  <div id="carouselExampleCaptions" class="carousel slide"
    data-bs-ride="carousel"
    style="width: 100%; height:50%; margin:auto; margin-top:10px">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide
        1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'banner/ez001.png'%}" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-white-50">Some representative placeholder content for
            the
            first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'banner/ez002.jpg'%}" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-white-50">Some representative placeholder content for
            the
            second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'banner/ez003.jpg'%}" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-white-50">Some representative placeholder content for
            the
            third slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'banner/ez004.jpg'%}" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <p class="text-white-50">Some representative placeholder content for
            the
            ffff slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button"
      data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
      data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>


  <!-- สินค้าแนะนำ -->
  <hr style="height:5px;border:none;color:#333;background-color:#333;" />
  <div class="head_text">สินค้าแนะนำ</div>
  <hr style="height:5px;border:none;color:#333;background-color:#333;" />

  <!-- ลูปแสดงสินค้า -->


  <div class='row mb-2' style='padding-left: 20px;'>
    <!-- สินค้าแนะนำทั้งหมด -->
    {% for r in reccom %}
    <div class='col-lg-3 mt-2 mb-2'>
      <a href="{% url 'myapp:detail' slug=r.product.slug %}"><img class='thumbnail' src="{{r.product.image.url}}"></a>
      <div class='box-element product'>
        <a href="{% url 'myapp:detail' slug=r.product.slug %}" style="text-decoration: none;"><h6><strong>{{r.product.name}}</strong></h6></a>
        <hr>
        <a href="{% url 'myapp:cart_add' slug=r.product.slug %}" class='btn btn-outline-secondary add-btn'>Add to Cart</a>
        <a class="btn btn-outline-success" href="{% url 'myapp:detail' slug=r.product.slug %}">View Detail</a>
        <h4 style="display: inline-block'; float:right"><strong>฿{{r.product.price}}</strong></h4>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{% url 'myapp:store' %}"><button type="button" class="btn btn-success m-auto" id="more">สินค้าทั้งหมด</button></a>
  </div>
  <hr style="height:5px;border:none;color:#333;background-color:#333;" />


</div>
{% endblock %}